@font-face {
  font-family: "PFStardust";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color-white: #f9faf5;
  --bg-color-blue: #abbbd2;
  --border: 1px solid #000000;
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
}

body {
  font-family: "PFStardust";
  width: 375px;
  margin: 0 auto;
}

.ad {
  width: 100%;
  height: 100px;
  background-color: #c9d2de;
  font-family: Arial, Helvetica, sans-serif;
}

.home,
.quiz,
.result {
  display: none;
}

.home.active,
.quiz.active,
.result.active {
  display: block;
}

.home__body {
  position: relative;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.home__body img {
  width: 100%;
}

.screen {
  position: absolute;
  top: 4rem;
  left: 50%;
  width: 308px;
  transform: translateX(-50%);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg-color-blue);
  z-index: 1;
}

.screen .screen__header {
  text-align: center;
  font-size: 17px;
  border-bottom: var(--border);
}

.screen__header img {
  position: absolute;
  top: 20px;
  right: 17px;
  width: 20px;
}

.screen h3 {
  text-align: center;
}

.screen .screen__text {
  padding: 0 2rem 2rem;
  text-align: center;
  font-size: 16px;
  line-height: 2rem;
}

.screen__text h3 {
  font-size: 2rem;
}

.home .btn {
  position: absolute;
  top: 429px;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: transparent;
  mix-blend-mode: normal;
  border: 2px solid #f9faf5;
  -webkit-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.45));
  -moz-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.45));
  -ms-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.45));
  -o-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.45));
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.45));
  z-index: 1;
}

.home .btn--outliner {
  display: block;
  position: absolute;
  top: 370px;
  left: 50%;
  transform: translateX(-50%);
  width: 195px;
  height: 195px;
  border-radius: 50%;
  mix-blend-mode: normal;
  border: 2px solid #f9faf5;
  background-color: transparent;
  -webkit-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.25));
  -moz-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.25));
  -ms-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.25));
  -o-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.25));
}

.link-copy-btn,
.result .btn {
  width: 15rem;
  display: flex;
  font-size: 19px;
  position: absolute;
  top: 660px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-color-white);
  border: var(--border);
  border-radius: 10px;
  padding: 0 2rem 0rem 1.4rem;
  align-items: center;
}

.link-copy-btn img,
.restart-btn img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  flex: 1;
}

.link-copy-btn span,
.result .btn span {
  flex: 2;
}

.quiz,
.result {
  margin-top: 2rem;
}

.result .screen__text h3 {
  padding-top: 2rem;
}

.result .screen__text p {
  line-height: 1.9rem;
  padding: 2rem 0.4rem 2rem 0.6rem;
}

.result .link-copy-btn {
  top: 580px;
}

.quiz__container {
  text-align: center;
  background-color: var(--bg-color-white);
  border-radius: 11px;
  border: var(--border);
  padding: 1rem;
}

.quiz__img {
  margin: 0 auto;
  margin-bottom: 1rem;
}

.quiz__img img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.option__container {
  margin-top: 1rem;
  text-align: center;
}

.timer__line {
  width: 250px;
  height: 10px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--bg-color-blue);
  overflow: hidden;
}

.timer__bar {
  width: 5px;
  height: 10px;
  border-radius: 5px;
  background-color: #242a4a;
}

.option__container span {
  display: block;
  padding: 0.5rem;
  cursor: pointer;
}

.option__container span:hover {
  background-color: var(--bg-color-blue);
}
