@font-face {
  font-family: 'PFStardust';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  --bg-color-white : #F9FAF5;
  --bg-color-blue : #ABBBD2;
  --border : 1px solid #000000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  font: inherit;
}

button svg, button img{
  margin-right: 1rem;
}

body{
  font-family: 'PFStardust';
  width: 375px;
  margin: 0 auto;
}

.home__body{
  position: relative;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 340px;
  height: 544px;
  background-color: #F1F3EE;
  opacity: 0.39;
  box-shadow: inset -12px -23px 30px #929090;
  border-radius: 32px;
  z-index: 0;
}

.home__screen{
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 295px;
  height: 249px;
  border: var(--border);
  border-radius: 10px;
  background-color: var(--bg-color-blue);
  z-index: 1;
}

.home__screen .header, .result__box .header{
  text-align: center;
  font-size: 16px;
  border-bottom: var(--border);
}

.home__screen svg{
  position: absolute;
  top: 20px;
  right: 17px;
}

.home__screen h3{
  text-align: center;
}

.home__screen .describe{
  padding: 0 2rem;
  text-align: center;
  font-size: 14px;
  line-height: 2rem;
}

.home__box .btn{
  position: absolute;
  top: 429px;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: transparent;
  mix-blend-mode: normal;
  border: 2px solid #F9FAF5;
  -webkit-filter: drop-shadow(2px 3px 2px rgba(0,0,0,.45));
	-moz-filter: drop-shadow(2px 3px 2px rgba(0,0,0,.45));
	-ms-filter: drop-shadow(2px 3px 2px rgba(0,0,0,.45));
	-o-filter: drop-shadow(2px 3px 2px rgba(0,0,0,.45));
  filter: drop-shadow(2px 3px 2px rgba(0,0,0,.45));
  z-index: 1;
}

.home__box .btn--outliner{
  display: block;
  position: absolute;
  top: 370px;
  left: 50%;
  transform: translateX(-50%);
  width: 195px;
  height: 195px;
  border-radius: 50%;
  mix-blend-mode: normal;
  border: 2px solid #F9FAF5;
  background-color: transparent;
  -webkit-filter: drop-shadow(2px 3px 2px rgba(0,0,0,.25));
	-moz-filter: drop-shadow(2px 3px 2px rgba(0,0,0,.25));
	-ms-filter: drop-shadow(2px 3px 2px rgba(0,0,0,.25));
	-o-filter: drop-shadow(2px 3px 2px rgba(0,0,0,.25));
  filter: drop-shadow(2px 3px 2px rgba(0,0,0,.25));
}

.link__copy_btn, .result__box .btn{
  display: flex;
  font-size: 24px;
  position: absolute;
  top: 677px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-color-white);
  border: var(--border);
  border-radius: 8px;
  padding: 0 1rem;
  align-items: center;
}
.link__copy_btn, .restart_btn{
  width: 15rem;
}
.restart_btn{
 top:570px !important;
}
.restart_btn span{
  padding-left: 2.5rem;
}

.quiz__box, .result__box{
  margin-top: 4rem;
}

.quiz__container{
  text-align: center;
  background-color: var(--bg-color-white);
  border-radius: 11px;
  border: var(--border);
  padding: 1rem;
}
.question__img{
  width: 250px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 1rem;
  overflow: hidden;
}
.question__img img{
  width: 100%;
}

.option__container{
  margin-top: 1rem;
  text-align: center;
}

.time__line{
  width: 250px;
  height: 10px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--bg-color-blue);
  overflow: hidden;
}

.time__bar{
  width: 5px;
  height: 10px;
  border-radius: 5px;
  background-color: #242A4A;
}

.home__box, .quiz__box, .result__box{
  display: none;
}

.home__box.active, .quiz__box.active, .result__box.active{
  display: block;
}

.result__text{
  margin: 0 auto;
  width: 320px;
  background-color: var(--bg-color-blue);
  border-radius: 10px;
  border: var(--border);
}

.result__box .header{
  position: relative;
}
.result__box .header svg{
  position: absolute;
  top: 20px;
  right: 17px;
}

.result__describtion{
  padding: 1rem 2rem 2rem 2rem;
  line-height: 2.3rem;
}

.btn img{
  width: 48px;
  height: 48px;
}

.result__describtion p:first-child{
  font-weight: bold;
  font-size: 24px;
  line-height: 4rem;
  text-align: center;
  padding-bottom: 1.3rem;
}

.option__container span{
  display: block;
  padding: 0.5rem;
  cursor: pointer;
}

.option__container span:hover{
  background-color: var(--bg-color-blue);
}
